.majorsList{
    background-color: white;
    border-radius: 10px;

    button{
        width: 100%;
    }

    img{
        width: 100px;
        height: 100px;
    }

    .table{
        margin-bottom: 0;
    }
}