.servicesList{
    background-color: white;
    border-radius: 10px;

    button{
        width: 50%;
    }

    h3{
        padding: 10px;
    }

    img{
        width: 100px;
        height: 100px;
    }
}