.service-page {
    .list-service {
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;

        .add-service-button{
            float: right;
            margin: 15px;
        }
    }
}
