.change-password-form {
    // background-color: gray;
    form {
        background-color: white;
        padding: 20px;
        margin: 10rem auto;
        width: 25rem;
        box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
        border-radius: 10px;
    }
    button {
        width: 100%;
        background-color: rgb(104, 179, 223);
        border: none;
    }
}
