
.change-password-form{
    // background-color: gray;
    form{
        margin: 2rem auto 1rem auto;
        width: 25rem;
    }
    button{
        width: 100%;
        background-color: rgb(104, 179, 223);
        border: none
    }
}