.left-navbar {
    margin-top: 20px;
    margin-bottom: 100px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
    border-radius: 10px;

    nav {
        border-radius: 10px;
    }

    ul {
        width: 100%;

        li {
            margin: 10px;
        }

        svg {
            margin-right: 10px;
            width: 1rem !important;
        }
    }
}
