.major-page {
    .list-major {
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;

        .add-major-button{
            float: right;
            margin: 15px;
        }
    }
}
