.major-page {
    .list-major {
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px gray;

        h3 {
            background-color: gray;
            color: white;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: -70px;
        }

        .add-major-button {
            background-color: transparent;
            border: none;
            margin-bottom: -64px;
            margin-left: 91px;
        }

        .add-major-button:hover {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
}
