.spinner{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.major-page {
    .list-major {
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px gray;

        .add-major-button{
            float: right;
            margin: 15px;
        }
    }
}
