.admin-profile {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;

    button{
        width: 20%;
        // float: right;
        margin-left: 80%;
    }
}
