.repairer-page {
    .list-repairer {
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;

        .add-repairer-button{
            float: right;
            margin: 15px;
        }
    }
}
