.issue-page {
    .list-issue {
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px gray;

        .add-issue-button{
            float: right;
            margin: 15px;
        }
    }
}
