.customer-page {
    .list-customer {
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;

        .add-customer-button{
            float: right;
            margin: 15px;
        }
    }
}
