.issuesList{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;

    h3{
        padding: 10px;
    }

    button{
        width: 100%;
    }

    img{
        width: 100px;
        height: 100px;
    }

    .table{
        margin-bottom: 0;
    }
}